/* Nav.css */

.nav {
    background-color: #4EBC9C; /* Background color for the navigation bar */
    padding: 10px; /* Add some padding for a bit of spacing */
  
    /* Style for the brand link */
    .brand-link {
      color: black;
      text-decoration: none;
      font-size: 1.5em; /* Adjust the font size as needed */
      font-weight: bold;
      float: right;
      margin-left: 15px;
    }
  
    /* Style for the navigation list */
    .nav-list {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      margin-left: auto;
    }
  
    /* Style for each navigation item */
    .nav-link {
      color:black;
      font-weight: 500;
      font-size: 20px;
      text-decoration: none;
      margin: 0 10px; /* Add spacing between each item */
    }
  
    /* Style for the active navigation item */
    .nav-link.active {
      font-weight: 700;
      color:black;
    } 
    .nav-link:hover{
      color: #dddd;
    }
  }
  